<main class="main-content">
 
    <section class="product-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="shop-top-bar">
              <div class="shop-top-left">
                <p class="pagination-line"><a href="shop.html"></a> Tổng số: 100 sản phẩm <a href="shop.html"></a></p>
              </div>
              <div class="shop-top-center">
                <nav class="product-nav">
                  <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-grid-tab" data-bs-toggle="tab" data-bs-target="#nav-grid" type="button" role="tab" aria-controls="nav-grid" aria-selected="true"><i class="fa fa-th"></i></button>
                    <button class="nav-link" id="nav-list-tab" data-bs-toggle="tab" data-bs-target="#nav-list" type="button" role="tab" aria-controls="nav-list" aria-selected="false"><i class="fa fa-list"></i></button>
                    <button class="nav-link" id="nav-grid2-tab" data-bs-toggle="tab" data-bs-target="#nav-grid2" type="button" role="tab" aria-controls="nav-grid2" aria-selected="false"><i class="fa fa-th-large"></i></button>
                  </div>
                </nav>
              </div>
              <div class="shop-top-right">
                <div class="shop-sort">
                  <span>Sắp xếp:</span>
                  <select class="form-select" aria-label="Sort select example">
                    <option selected>Nổi bật</option>
                    <option value="1">Popularity</option>
                    <option value="2">Average Rating</option>
                    <option value="3">Newsness</option>
                    <option value="4">Price Low to High</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row flex-md-row-reverse justify-content-between">
          <div class="col-xl-9">
            <div class="row">
           
              <div class="col-12">
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-grid" role="tabpanel" aria-labelledby="nav-grid-tab">
                    <div class="row">
                      <div class="col-sm-6 col-xl-4">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="https://storage.cloud.google.com/pet-kingdom-resource/image/3424_me-o-kitten-1.u3059.d20170529.t161612.774833.jpg" class="single-product"  alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Me-O - Thức ăn Meo kitten 1.1kg</a></h4>
                            <div class="prices">
                              <span class="price">119.000đ</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-sm-6 col-xl-4">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="https://storage.cloud.google.com/pet-kingdom-resource/image/3953_hnhsnphm-12.jpg" class="single-product"  alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Royal canin - Poodle 85g ( 12x85g)
                            </a></h4>
                            <div class="prices">
                              <span class="price">130.000VNĐ</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-sm-6 col-xl-4">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="https://storage.cloud.google.com/pet-kingdom-resource/image/3958_7c.jpg" class="single-product"  alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Royal Canin - Pate Instinctive (Gravy) 85g (12x85g)
                            </a></h4>
                            <div class="prices">
                              <span class="price">127.000VNĐ</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-sm-6 col-xl-4">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="https://storage.cloud.google.com/pet-kingdom-resource/image/4453_z2802894036858_eaa0f08c15e824939e0536e971e8209c.jpg" class="single-product" alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Tellme - Sốt bò rau củ 130gr (cho chó)
                            </a></h4>
                            <div class="prices">
                              <span class="price">20.000đ </span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-sm-6 col-xl-4">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="https://storage.cloud.google.com/pet-kingdom-resource/image/4454_32bd82979cd8a7094315abee461e8c26.jpg" class="single-product"  alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Tellme - Sốt gà phô mai rau củ 130gr (cho chó)
                            </a></h4>
                            <div class="prices">
                              <span class="price">20.000VNĐ</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-sm-6 col-xl-4">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="https://storage.cloud.google.com/pet-kingdom-resource/image/4661_NP_Indoor-400g-424x600.jpg" class="single-product"  alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Nature's Protection Indoor  400g</a></h4>
                            <div class="prices">
                              <span class="price">146.000VNĐ</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-sm-6 col-xl-4">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="assets/img/shop/3.webp" class="single-product"  alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Impulse Duffle</a></h4>
                            <div class="prices">
                              <span class="price">$65.00</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-sm-6 col-xl-4">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="assets/img/shop/1.webp" class="single-product"  alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Joust Duffle Bag</a></h4>
                            <div class="prices">
                              <span class="price">$20.19</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-sm-6 col-xl-4">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="assets/img/shop/5.webp" class="single-product"  alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Fusion Backpack</a></h4>
                            <div class="prices">
                              <span class="price">$45.00</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-sm-6 col-xl-4">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="assets/img/shop/4.webp" class="single-product"  alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Driven Backpack</a></h4>
                            <div class="prices">
                              <span class="price">$25.00</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-sm-6 col-xl-4">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="assets/img/shop/7.webp" class="single-product"  alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Voyage Yoga Bag</a></h4>
                            <div class="prices">
                              <span class="price">$39.00</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-sm-6 col-xl-4">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="assets/img/shop/8.webp" class="single-product"  alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Wayfarer Messenger Bag</a></h4>
                            <div class="prices">
                              <span class="price">$50.00</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-12">
                        <div class="pagination-items pagination-items-style1">
                          <ul class="pagination mb--0">
                            <li><a class="active" href="shop.html">1</a></li>
                            <li><a href="shop-four-columns.html">2</a></li>
                            <li><a href="shop-three-columns.html">3</a></li>
                            <li><a href="shop.html" class="icon"><i class="fa fa-angle-right"></i></a></li>
                          </ul>                    
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab">
                    <div class="row">
                      <div class="col-12">
                        <!--== Start Product Item ==-->
                        <div class="product-item product-list-item">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="product-thumb">
                                <a href="single-product.html">
                                  <img src="assets/img/shop/col2-1.webp" width="420" height="320" alt="Image-HasTech">
                                </a>
                                <div class="product-action">
                                  <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                    <i class="pe-7s-like"></i>
                                  </button>
                                  <div class="product-action-links">
                                    <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                      <i class="pe-7s-look"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="product-info">
                                <h4 class="title"><a href="single-product.html">Endeavor Daytripa</a></h4>
                                <div class="prices">
                                  <span class="price">$33.00</span>
                                </div>
                                <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem quo, rerum rem soluta quisquam, repellat is deleniti omnis culpa ea quis provident dolore esse, offici modi dolorem nam cum eligendi enim!</p>
                                <button type="button" class="btn-theme btn-sm" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                  Add To Cart
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-12">
                        <!--== Start Product Item ==-->
                        <div class="product-item product-list-item">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="product-thumb">
                                <a href="single-product.html">
                                  <img src="assets/img/shop/col2-2.webp" width="420" height="320" alt="Image-HasTech">
                                </a>
                                <div class="product-action">
                                  <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                    <i class="pe-7s-like"></i>
                                  </button>
                                  <div class="product-action-links">
                                    <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                      <i class="pe-7s-look"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="product-info">
                                <h4 class="title"><a href="single-product.html">Impulse Duffle</a></h4>
                                <div class="prices">
                                  <span class="price">$65.00</span>
                                </div>
                                <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem quo, rerum rem soluta quisquam, repellat is deleniti omnis culpa ea quis provident dolore esse, offici modi dolorem nam cum eligendi enim!</p>
                                <button type="button" class="btn-theme btn-sm" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                  Add To Cart
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-12">
                        <!--== Start Product Item ==-->
                        <div class="product-item product-list-item">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="product-thumb">
                                <a href="single-product.html">
                                  <img src="assets/img/shop/col2-3.webp" width="420" height="320" alt="Image-HasTech">
                                </a>
                                <div class="product-action">
                                  <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                    <i class="pe-7s-like"></i>
                                  </button>
                                  <div class="product-action-links">
                                    <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                      <i class="pe-7s-look"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="product-info">
                                <h4 class="title"><a href="single-product.html">Driven Backpack</a></h4>
                                <div class="prices">
                                  <span class="price">$25.00</span>
                                </div>
                                <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem quo, rerum rem soluta quisquam, repellat is deleniti omnis culpa ea quis provident dolore esse, offici modi dolorem nam cum eligendi enim!</p>
                                <button type="button" class="btn-theme btn-sm" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                  Add To Cart
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-12">
                        <!--== Start Product Item ==-->
                        <div class="product-item product-list-item">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="product-thumb">
                                <a href="single-product.html">
                                  <img src="assets/img/shop/col2-4.webp" width="420" height="320" alt="Image-HasTech">
                                </a>
                                <div class="product-action">
                                  <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                    <i class="pe-7s-like"></i>
                                  </button>
                                  <div class="product-action-links">
                                    <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                      <i class="pe-7s-look"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="product-info">
                                <h4 class="title"><a href="single-product.html">Savvy Shoulder Tote</a></h4>
                                <div class="prices">
                                  <span class="price">$30.00</span>
                                </div>
                                <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem quo, rerum rem soluta quisquam, repellat is deleniti omnis culpa ea quis provident dolore esse, offici modi dolorem nam cum eligendi enim!</p>
                                <button type="button" class="btn-theme btn-sm" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                  Add To Cart
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-12">
                        <!--== Start Product Item ==-->
                        <div class="product-item product-list-item">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="product-thumb">
                                <a href="single-product.html">
                                  <img src="assets/img/shop/col2-5.webp" width="420" height="320" alt="Image-HasTech">
                                </a>
                                <div class="product-action">
                                  <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                    <i class="pe-7s-like"></i>
                                  </button>
                                  <div class="product-action-links">
                                    <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                      <i class="pe-7s-look"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="product-info">
                                <h4 class="title"><a href="single-product.html">Voyage Yoga Bag</a></h4>
                                <div class="prices">
                                  <span class="price">$39.00</span>
                                </div>
                                <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem quo, rerum rem soluta quisquam, repellat is deleniti omnis culpa ea quis provident dolore esse, offici modi dolorem nam cum eligendi enim!</p>
                                <button type="button" class="btn-theme btn-sm" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                  Add To Cart
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-12">
                        <!--== Start Product Item ==-->
                        <div class="product-item product-list-item">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="product-thumb">
                                <a href="single-product.html">
                                  <img src="assets/img/shop/col2-6.webp" width="420" height="320" alt="Image-HasTech">
                                </a>
                                <div class="product-action">
                                  <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                    <i class="pe-7s-like"></i>
                                  </button>
                                  <div class="product-action-links">
                                    <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                      <i class="pe-7s-look"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="product-info">
                                <h4 class="title"><a href="single-product.html">Wayfarer Messenger Bag</a></h4>
                                <div class="prices">
                                  <span class="price">$50.00</span>
                                </div>
                                <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem quo, rerum rem soluta quisquam, repellat is deleniti omnis culpa ea quis provident dolore esse, offici modi dolorem nam cum eligendi enim!</p>
                                <button type="button" class="btn-theme btn-sm" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                  Add To Cart
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-12">
                        <!--== Start Product Item ==-->
                        <div class="product-item product-list-item">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="product-thumb">
                                <a href="single-product.html">
                                  <img src="assets/img/shop/col2-8.webp" width="420" height="320" alt="Image-HasTech">
                                </a>
                                <div class="product-action">
                                  <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                    <i class="pe-7s-like"></i>
                                  </button>
                                  <div class="product-action-links">
                                    <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                      <i class="pe-7s-look"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="product-info">
                                <h4 class="title"><a href="single-product.html">Impulse Duffle</a></h4>
                                <div class="prices">
                                  <span class="price">$65.00</span>
                                </div>
                                <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem quo, rerum rem soluta quisquam, repellat is deleniti omnis culpa ea quis provident dolore esse, offici modi dolorem nam cum eligendi enim!</p>
                                <button type="button" class="btn-theme btn-sm" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                  Add To Cart
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-12">
                        <div class="pagination-items pagination-items-style1">
                          <ul class="pagination mb--0">
                            <li><a class="active" href="shop.html">1</a></li>
                            <li><a href="shop-four-columns.html">2</a></li>
                            <li><a href="shop-three-columns.html">3</a></li>
                            <li><a href="shop.html" class="icon"><i class="fa fa-angle-right"></i></a></li>
                          </ul>                    
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="nav-grid2" role="tabpanel" aria-labelledby="nav-grid2-tab">
                    <div class="row">
                      <div class="col-sm-6 col-xl-6">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="assets/img/shop/col2-1.webp" width="420" height="320" alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Endeavor Daytripa</a></h4>
                            <div class="prices">
                              <span class="price">$33.00</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-sm-6 col-xl-6">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="assets/img/shop/col2-2.webp" width="420" height="320" alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Impulse Duffle</a></h4>
                            <div class="prices">
                              <span class="price">$65.00</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-sm-6 col-xl-6">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="assets/img/shop/col2-3.webp" width="420" height="320" alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Driven Backpack</a></h4>
                            <div class="prices">
                              <span class="price">$25.00</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-sm-6 col-xl-6">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="assets/img/shop/col2-4.webp" width="420" height="320" alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Savvy Shoulder Tote</a></h4>
                            <div class="prices">
                              <span class="price">$30.00</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-sm-6 col-xl-6">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="assets/img/shop/col2-5.webp" width="420" height="320" alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Voyage Yoga Bag</a></h4>
                            <div class="prices">
                              <span class="price">$39.00</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-sm-6 col-xl-6">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="assets/img/shop/col2-6.webp" width="420" height="320" alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Wayfarer Messenger Bag</a></h4>
                            <div class="prices">
                              <span class="price">$50.00</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-sm-6 col-xl-6">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="assets/img/shop/col2-2.webp" width="420" height="320" alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Impulse Duffle</a></h4>
                            <div class="prices">
                              <span class="price">$65.00</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-sm-6 col-xl-6">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="assets/img/shop/col2-7.webp" width="420" height="320" alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Joust Duffle Bag</a></h4>
                            <div class="prices">
                              <span class="price">$20.19</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-sm-6 col-xl-6">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="assets/img/shop/col2-8.webp" width="420" height="320" alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Fusion Backpack</a></h4>
                            <div class="prices">
                              <span class="price">$45.00</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-sm-6 col-xl-6">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="assets/img/shop/col2-3.webp" width="420" height="320" alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Driven Backpack</a></h4>
                            <div class="prices">
                              <span class="price">$25.00</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-sm-6 col-xl-6">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="assets/img/shop/col2-5.webp" width="420" height="320" alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Voyage Yoga Bag</a></h4>
                            <div class="prices">
                              <span class="price">$39.00</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-sm-6 col-xl-6">
                        <!--== Start Product Item ==-->
                        <div class="product-item">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="assets/img/shop/col2-6.webp" width="420" height="320" alt="Image-HasTech">
                            </a>
                          </div>
                          <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Wayfarer Messenger Bag</a></h4>
                            <div class="prices">
                              <span class="price">$50.00</span>
                            </div>
                          </div>
                         
                        </div>
                        <!--== End prPduct Item ==-->
                      </div>
                      <div class="col-12">
                        <div class="pagination-items pagination-items-style1">
                          <ul class="pagination mb--0">
                            <li><a class="active" href="shop.html">1</a></li>
                            <li><a href="shop-four-columns.html">2</a></li>
                            <li><a href="shop-three-columns.html">3</a></li>
                            <li><a href="shop.html" class="icon"><i class="fa fa-angle-right"></i></a></li>
                          </ul>                    
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="shop-sidebar">
              <div class="shop-sidebar-search">
                <div class="sidebar-search-form">
                  <form action="#">
                    <input type="search" placeholder="Tìm kiếm...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </form>
                </div>
              </div>

            

              <div class="shop-widget shop-sidebar-category">
                <h4 class="sidebar-title">Danh mục</h4>
                <div class="sidebar-category">
                  <ul class="category-list mb--0">
                    <li><a href="shop.html">Thực phẩm đóng hộp <span>(5)</span></a></li>
                    <li><a href="shop.html">Thực phẩm khô <span>(4)</span></a></li>
                    <li><a href="shop.html">Thực phẩm ướt<span>(2)</span></a></li>
                    <li><a href="shop.html">Thực phẩm ăn kiêng <span>(6)</span></a></li>
                
                  </ul>
                </div>
              </div>
           
            
            
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>