<!-- 
<div class="main-content col-10" style="margin:30px auto 30px; padding: 30px;">
    <div class="signin-booking">
        <div class="center"><p>Vui lòng đăng nhập để bắt đầu đặt lịch</p></div>
        <div class="center" >
            <button type="button" class=" btn-login" >
                ĐĂNG NHẬP
            </button>
        </div>
    </div>
    <div class="booking-flow-step">
        <div class="icon-booking col-1" >
            <img src="https://storage.cloud.google.com/pet-kingdom-resource/mock-icon/paw__1_.png"  alt="" srcset="">
        </div>
        <div class="booking-name">
            <p>Chọn thú cưng</p>
        </div>
        
    </div>
    <div class="choose-content hide">
       
    </div>
    <div class="booking-flow-step">
        <div class="icon-booking col-1" >
            <img src="https://storage.cloud.google.com/pet-kingdom-resource/mock-icon/scissors__1_.png"  alt="" srcset="">
        </div>
        <div class="booking-name">
            <p>Chọn dịch vụ</p>
        </div>
        
    </div>
    <div class="choose-content hide">

    </div>
    <div class="booking-flow-step">
        <div class="icon-booking col-1" >
            <img src="https://storage.cloud.google.com/pet-kingdom-resource/mock-icon/calendar.png"  alt="" srcset="">
        </div>
        <div class="booking-name">
            <p>Chọn ngày hẹn</p>
        </div>
        
    </div>
    <div class="choose-content hide">

    </div>
    <div class="booking-flow-step">
        <div class="icon-booking col-1" >
            <img src="https://storage.cloud.google.com/pet-kingdom-resource/mock-icon/clipboard.png"  alt="" srcset="">
        </div>
        <div class="booking-name">
            <p>Tổng kết lịch hẹn</p>
        </div>
        
    </div>
    <div class="choose-content hide">

    </div>
</div> -->

<div class="progress-bar">
    <div class="completed" [style.width]="(completedTests / totalTests) * 100 + '%'"></div>
    <div class="step-number">Step {{ currentStep }}</div>
  </div>
  <form  (ngSubmit)="onSubmit()">
    <div *ngIf="currentStep === 1" [@stepTransition]>
     kkkk
      <button type="button" (click)="nextStep()">Next</button>
    </div>
    <div *ngIf="currentStep === 2" [@stepTransition]>
     kkkdfhf
      <button type="button" (click)="prevStep()">Back</button>
      <button type="button" (click)="nextStep()">Next</button>
    </div>
    <div *ngIf="currentStep === 3" [@stepTransition]>
     fghkfghkf
      <button type="button" (click)="prevStep()">Back</button>
      <button type="button" (click)="nextStep()">Next</button>
    </div>
    <div *ngIf="currentStep === 4" [@stepTransition]>
     fghkhgkfk
      <button type="button" (click)="prevStep()">Back</button>
      <button type="submit">Submit</button>
    </div>
  </form>