.wizard {
    display: flex;
    margin: 30px 10px;
  }
  button{
    margin-left: 10px;
    margin-top: 10px;
  }
  .step {
    width: 33%;
    text-align: center;
    padding: 20px 0;
    background-color: #9dc8}
.step.active {
    background-color: #2184be;
    color: white;
  }
  
  .step.disabled {
    background-color: #eeeeee;
    color: #bbbbbb;
  }
  
  .form-content {
    padding: 20px;
   
    align-items: center;
    min-height: 400px;
    border: 1px solid rgb(201, 201, 201);
    margin: 30px 10px;
  }
  

  
  .navigation-buttons {
    display: flex;
    margin-top: 20px;
    margin: 30px 10px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #bbbbbb;
    color: #eeeeee;
    cursor: not-allowed;
  }
.pet-list{
  display: flex;
}
  .pet-item{
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 10px;
  }
  .select-pet-radio{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    color: white;
  }
  .select-pet-label{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: -10px;
    border: 1px solid;
    cursor:pointer;
  }
  .pet-name{
    position: absolute;
    background: rgb(58 58 58 / 50%);
    top: 88%;
    left: -5%;
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;

  }
  .select-pet-radio:checked + .select-pet-label {
    border-color: rgb(5, 99, 133);
    border-width: 3px;
  }
  .service-options button.selected {
    background-color: rgb(5, 99, 133);
    color: white;
  }