<div class="preloader-wrap">
    <div class="preloader">
      <div class="dog-head"></div>
      <div class="dog-body"></div>
    </div>
  </div>
<header class="header-area">
    <div class="container">
        <div class="row no-gutter align-items-center position-relative">
            <div class="col-12">
                <div class="header-align">
                    <div class="header-align-start">
                        <div class="header-logo-area">
                            <a href="index.html">
                                <img class="logo-main" src="assets/img/store-logo.png" width="158" height="36"
                                    alt="Logo" />
                            </a>
                        </div>
                    </div>
                    <div class="header-align-center">
                        <div class="header-navigation-area position-relative">
                            <ul class="main-menu nav">
                                <li class="has-submenu">
                                    <a href="/"><span>Home</span></a>                                  
                                </li>
                                <li><a href="about-us.html"><span>GIỚI THIỆU</span></a></li>
                                <li class="has-submenu position-static"><a href="#/"><span>SẢN PHẨM</span></a>
                                    <ul class="submenu-nav submenu-nav-mega column-3">
                                        <li class="mega-menu-item"><a href="#/" class="mega-title"><span>Shop
                                                    Layout</span></a>
                                            <ul>
                                                <li><a href="shop-three-columns.html"><span>Shop 3 Column</span></a>
                                                </li>
                                                <li><a href="shop-four-columns.html"><span>Shop 4 Column</span></a></li>
                                                <li><a href="shop-left-sidebar.html"><span>Shop Left Sidebar</span></a>
                                                </li>
                                                <li><a href="shop.html"><span>Shop Right Sidebar</span></a></li>
                                            </ul>
                                        </li>                                
                                    </ul>
                                </li>
                                <li class="has-submenu position-static"><a href="#/"><span>DỊCH VỤ</span></a>
                                    <ul class="submenu-nav submenu-nav-mega column-3">
                                        <li class="mega-menu-item"><a href="#/" class="mega-title"><span>Shop
                                                    Layout</span></a>
                                            <ul>
                                                <li><a href="shop-three-columns.html"><span>Shop 3 Column</span></a>
                                                </li>
                                                <li><a href="shop-four-columns.html"><span>Shop 4 Column</span></a></li>
                                                <li><a href="shop-left-sidebar.html"><span>Shop Left Sidebar</span></a>
                                                </li>
                                                <li><a href="shop.html"><span>Shop Right Sidebar</span></a></li>
                                            </ul>
                                        </li>                                
                                    </ul>
                                </li>
                                <li class="has-submenu"><a href="#/"><span>Blog</span></a>
                                    <ul class="submenu-nav submenu-nav-mega">
                                        <li class="mega-menu-item"><a href="#/" class="mega-title">Blog Layout</a>
                                            <ul>
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog.html">Blog Left Sidebar</a></li>
                                                <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-item"><a href="#/" class="mega-title">Single Blog</a>
                                            <ul>
                                                <li><a href="blog-details-no-sidebar.html">Blog Details</a></li>
                                                <li><a href="blog-details.html">Blog Details Left Sidebar</a></li>
                                                <li><a href="blog-details-right-sidebar.html">Blog Details Right
                                                        Sidebar</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                              
                            </ul>
                        </div>
                    </div>
                    <div class="header-align-end">
                        <div class="header-action-area">
                            <div class="shopping-search">
                                <button class="shopping-search-btn" type="button" data-bs-toggle="offcanvas"
                                    data-bs-target="#AsideOffcanvasSearch" aria-controls="AsideOffcanvasSearch"><i
                                        class="pe-7s-search icon"></i></button>
                            </div>
                            <div class="shopping-account">
                                <a class="shopping-account-btn" href="account-login.html">
                                    <i class="pe-7s-users icon"></i>
                                </a>
                            </div>
                           
                            <div class="shopping-cart">
                                <button class="shopping-cart-btn" type="button" data-bs-toggle="offcanvas"
                                    data-bs-target="#AsideOffcanvasCart" aria-controls="AsideOffcanvasCart">
                                    <i class="pe-7s-shopbag icon"></i>
                                    <sup class="shop-count">2</sup>
                                </button>
                            </div>
                            <div class="shopping-wishlist">
                                <button type="button" class="btn-schedule" >
                                            ĐẶT LỊCH
                                        </button>
                            </div>
                            <button class="btn-menu" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#AsideOffcanvasMenu" aria-controls="AsideOffcanvasMenu">
                                <i class="pe-7s-menu"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<aside class="off-canvas-wrapper offcanvas offcanvas-start" tabindex="-1" id="AsideOffcanvasMenu"
    aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h1 class="d-none" id="offcanvasExampleLabel">Aside Menu</h1>
        <button class="btn-menu-close" data-bs-dismiss="offcanvas" aria-label="Close">menu <i
                class="fa fa-chevron-left"></i></button>
    </div>
    <div class="offcanvas-body">
        <nav id="offcanvasNav" class="offcanvas-menu-nav">
            <ul>
                <li class="offcanvas-nav-parent">
                    <a class="offcanvas-nav-item" href="javascript:void(0)">Home</a>
                    <ul>
                        <li><a href="index.html"><span>Home One</span></a></li>
                        <li><a href="index-two.html"><span>Home Two</span></a></li>
                    </ul>
                </li>

                <li class="offcanvas-nav-parent"><a class="offcanvas-nav-item" href="about-us.html">About</a></li>

                <li class="offcanvas-nav-parent">
                    <a class="offcanvas-nav-item" href="javascript:void(0)">Shop</a>
                    <ul>
                        <li>
                            <a class="offcanvas-nav-item" href="javascript:void(0)">Shop Layouts</a>
                            <ul>
                                <li><a href="shop-three-columns.html"><span>Shop 3 Column</span></a></li>
                                <li><a href="shop-four-columns.html"><span>Shop 4 Column</span></a></li>
                                <li><a href="shop-left-sidebar.html"><span>Shop Left Sidebar</span></a></li>
                                <li><a href="shop.html"><span>Shop Right Sidebar</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="offcanvas-nav-item" href="javascript:void(0)">Single Product</a>
                            <ul>
                                <li><a href="single-normal-product.html"><span>Single Product Normal</span></a></li>
                                <li><a href="single-product.html"><span>Single Product Variable</span></a></li>
                                <li><a href="single-group-product.html"><span>Single Product Group</span></a></li>
                                <li><a href="single-affiliate-product.html"><span>Single Product Affiliate</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="offcanvas-nav-item" href="javascript:void(0)">Others Pages</a>
                            <ul>
                                <li><a href="shop-cart.html"><span>Shopping Cart</span></a></li>
                                <li><a href="shop-checkout.html"><span>Checkout</span></a></li>
                                <li><a href="shop-wishlist.html"><span>Wishlist</span></a></li>
                                <li><a href="shop-compare.html"><span>Compare</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="offcanvas-nav-parent">
                    <a class="offcanvas-nav-item" href="javascript:void(0)">Blog</a>
                    <ul>
                        <li>
                            <a class="offcanvas-nav-item" href="javascript:void(0)">Blog Layout</a>
                            <ul>
                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                <li><a href="blog.html">Blog Left Sidebar</a></li>
                                <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="offcanvas-nav-item" href="javascript:void(0)">Single Blog</a>
                            <ul>
                                <li><a href="blog-details-no-sidebar.html">Blog Details</a></li>
                                <li><a href="blog-details.html">Blog Details Left Sidebar</a></li>
                                <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="offcanvas-nav-parent">
                    <a class="offcanvas-nav-item" href="javascript:void(0)">Pages</a>
                    <ul>
                        <li><a href="account.html"><span>Account</span></a></li>
                        <li><a href="account-login.html"><span>Login</span></a></li>
                        <li><a href="account-register.html"><span>Register</span></a></li>
                        <li><a href="page-not-found.html"><span>Page Not Found</span></a></li>
                    </ul>
                </li>

                <li class="offcanvas-nav-parent"><a class="offcanvas-nav-item" href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
</aside>