<div class="col-10" style="margin: auto; font-size: 20px; padding: 30px;">
    <p>PET KINGDOM ra đời với mong muốn mang lại cho khách hàng sự chuyên nghiệp, uy tín mang nét đẹp hoa mỹ mà chúng
        tôi đem lại sự trải nghiệm tốt nhất cho thú cưng của chúng ta. Với hơn 5 năm kinh nghiệm trong ngành dịch vụ thú
        cưng bao gồm: Thú y, Spa thú cưng, Khách sạn thú cưng, Cung cấp các dòng thú cưng chuyên nghiệp...</p>
    <img src="assets\img\about\Pet Care.png" alt="" srcset="">
    <h4>TẦM NHÌN – SỨ MỆNH – GIÁ TRỊ CỐT LÕI CỦA PET KINGDOM </h4>
    <p>Mang lại “Trọn Vẹn Trải Nghiệm“</p>
    <h4>TẦM NHÌN </h4>
    <p>Pet KINGDOM định hướng phát triển trở thành Công ty cung cấp các Sản phẩm, dịch vụ cho thú cưng hàng đầu Việt
        Nam.</p>
    <h4>SỨ MỆNH</h4>
    <p> Pet KINGDOM cam kết mang đến trọn vẹn trải nghiệm cho Khách hàng và vẻ đẹp toàn diện cho thú cưng.
    </p>
    <h4> GIÁ TRỊ CỐT LÕI</h4>
    <ul>
        <li>Trân trọng khách hàng: Mỗi khách hàng khi đến PET KINGDOM là một điều đáng quý. Khách hàng xứng đáng được
            trải nghiệm một dịch vụ tốt nhất đồng thời thú cưng của bạn cũng được chăm sóc chỉn chu nhất.</li>
        <li>Tôn trọng đồng nghiệp: Pet KINGDOM luôn lắng nghe và đề cao tinh thần đồng đội, tất cả cùng một mục tiêu
            phát triển chung.</li>
        <li>Coi trọng công việc: Thái độ làm việc chuyên nghiệp, chịu trách nhiệm với kết quả công việc.</li>
    </ul>
    <p> PET KINGDOM Với hơn nhiều năm kinh nghiệm trong ngành dịch vụ thú cưng bao gồm: Spa thú cưng, Dịch vụ chăm sóc
        thú cưng tại nhà, Thú y, Sản phẩm dành cho thú cưng, Khách sạn thú cưng, Dịch vụ dắt chó đi dạo,…</p>
    <h3>Tại sao lại chọn PET KINGDOM ?</h3>
    <ul>
        <li>Dịch vụ CHẤT LƯỢNG đi đôi với UY TÍN;
        <li> Đặc biệt, Gói Tháng 4 và 8 lần dành cho các Khách hàng có nhu cầu sử dụng thường xuyên với rất nhiều ưu
            đãi;</li>

        <li>Đội ngũ nhân viên CHUYÊN NGHIỆP với THÁI ĐỘ phục vụ Pet yêu một cách tốt nhất;</li>
        <li> Có bộ phận riêng để THEO DÕI tình hình thú cưng của bạn;</li>
        <li>Trang thiết bị ĐẦY ĐỦ, ĐẢM BẢO vệ sinh sạch sẽ;</li>
        <li>Giá TỐT NHẤT thị trường;</li>
        <li>Chương trình KHUYẾN MÃI thường xuyên, ưu đãi đặc biệt với khách hàng đã sử dụng dịch vụ.</li>
    </ul>

</div>