<ng-template #modalUpdatePetService let-modal class="modal-xl">

    <div class="modal-header modal-xl">
      <h4 class="modal-title" id="modal-basic-title">Sửa dịch vụ thú cưng</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body">
      <form [formGroup]="formGroup">
        <div class="form-group">
          <label for="name" class="form-label">Mã dịch vụ: </label>
  
          <input type="text" id="name" name="name" class="form-control" [(ngModel)]="petService.id"
            placeholder="Tự động tạo mã ..." disabled="petService.id">
  
        </div>
        <div class="form-group">
          <label for="name" class="form-label">Tên dịch vụ:</label>
          <input type="text" id="name" name="name" class="form-control" 
            [(ngModel)]="petService.name" formControlName="name" >
            <div *ngIf="name.invalid && name.touched" class="error">
              <div *ngIf="name.errors['required'] ">
                *Vui lòng nhập tên
           </div>
             <div *ngIf="name.errors['minlength'] ">
                  *Tên cần tối thiểu 4 ký tự
             </div>
            </div>
        </div>
        <div class="form-group">
          <label for="name" class="form-label">Mô tả tóm tắt:</label>
          <ckeditor [editor]="Editor" [(ngModel)]="petService.briefDescription" 
           formControlName="briefDescription">
          </ckeditor>
          <div *ngIf="briefDescription.invalid && briefDescription.touched" class="error">
            <div *ngIf="briefDescription.errors['required'] ">
              *Vui lòng nhập mô tả ngắn gọn
         </div>
            <div *ngIf="briefDescription.errors['minlength'] ">
                 *Cần nhập ít nhất 10 ký tự
            </div>
           </div>
        </div>
        <div class="form-group">
          <label for="name" class="form-label">Mô tả chi tiết:</label>
          <ckeditor [editor]="Editor" [(ngModel)]="petService.fullDescription" formControlName="fullDescription">
          </ckeditor>
          <div *ngIf="fullDescription.invalid && fullDescription.touched" class="error">
             <div *ngIf="fullDescription.errors['required'] ">
              *Vui lòng nhập mô tả ngắn gọn
         </div>
            <div *ngIf="fullDescription.errors['minlength'] ">
                 *Cần nhập ít nhất 10 ký tự
            </div>
           </div>
        </div>
        <div class="form-group">
            <label for="name" class="form-label">Trạng thái:</label>
            <select name="" id="" [(ngModel)]="petService.status" [ngModelOptions]="{standalone: true}" class="form-control col-12">
                <option *ngFor="let i = index; let status of statusMeaning" value="{{i}}">{{status}}</option>
            </select>
          </div>
        <div class="form-group">
          <label for="name" class="form-label">Icon dịch vụ:</label>
          <input type="file" id="icon" name="icon" class="form-control"  (change)="upload($event)">
          <img  [src]="previewImg| sanitizerUrl" />
          <img [src]="petService.icon"/>
        </div>
      </form>
  
  
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="save()">Lưu</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Đóng</button>
    </div>
  
  </ng-template>