
<main class="main-content">
    <section class="product-area product-single-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product-single-item">
                        <div class="row">
                            <div class="col-lg-6">
                                <!--== Start Product Thumbnail Area ==-->
                                <div class="product-single-thumb" style="height:600px">
                                    <div class="swiper single-product-thumb single-product-thumb-slider">
                                        <div class="swiper-wrapper">
                                            <ngb-carousel >
                                                <ng-template ngbSlide *ngFor="let item of image">
                                                    <div class="picsum-img-wrapper" width="100%" >
                                                        <img [src]="item.link" alt="Random first slide" />
                                                    </div>        
                                                </ng-template>                                                        
                                            </ngb-carousel>

                                        </div>
                                    </div>

                                </div>
                                <!--== End Product Thumbnail Area ==-->
                            </div>
                            <div class="col-lg-6">
                                <!--== Start Product Info Area ==-->
                                <div class="product-single-info">
                                    <h2 class="main-title">{{petservice.name}}</h2>   
                                    <hr>
                                    <div>
                                        <div innerHTML="{{petservice.briefDescription}}"></div>
                                    </div>                                                                                             
                                   
                                    <div class="mb-10">
                                        <div>
                                            <label class="service-option" for="inputGroupSelect02">Tùy chọn dịch vụ</label>
                                        </div>
                                        <div>
                                            <select [(ngModel)]="selectedOptionId" (ngModelChange)="onOptionIdChange()" class="form-control">
                                                <option value="">Lựa chọn</option>
                                                <option *ngFor="let i = index;let option of options" [value]="option.id">{{ option.name }}</option>
                                              </select>
                                        </div>
                                        
                                      </div>
                                    <div class="product-quick-action">
                                     
                                        <button type="button" class="btn-product-cart" data-bs-toggle="modal"
                                            data-bs-target="#action-CartAddModal" style="width: 240px;">
                                            <a href="/booking" style="color: azure;">Đặt lịch</a>
                                        </button>
                                        <button type="button" class="btn-product-cart" data-bs-toggle="modal"
                                        data-bs-target="#action-CartAddModal" style="width: 320px;" href="#detail">
                                       
                                         Xem bảng giá dịch vụ
                                    </button>
                                    </div>
                                   
                                </div>
                                <!--== End Product Info Area ==-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </section>
    
    <DIV class="col-10" style="margin:auto; margin-bottom: 30px; min-height: 400px;" id="detail">
        <div class="product-review-tabs-content">
            <ul class="nav product-tab-nav" id="ReviewTab" role="tablist">
                <li role="presentation">
                    <a class="active" id="information-tab" data-bs-toggle="pill"
                        href="#information" role="tab" aria-controls="information"
                        aria-selected="true">Giá dịch vụ</a>
                </li>
                <li role="presentation">
                    <a id="description-tab" data-bs-toggle="pill" href="#description"
                        role="tab" aria-controls="description"
                        aria-selected="false">Mô tả</a>
                </li>
              
            </ul>
            <div class="tab-content product-tab-content" id="ReviewTabContent">
                <div class="tab-pane fade show active" id="information" role="tabpanel"
                    aria-labelledby="information-tab">
                    <div class="product-information">
                        <div>
                            <label class="service-option" for="inputGroupSelect02">Tùy chọn dịch vụ</label>
                        </div>
                        <div>
                            <select [(ngModel)]="selectedOptionId" (ngModelChange)="onOptionIdChange()" class="form-control">
                                <option value="">Lựa chọn</option>
                                <option *ngFor="let i = index;let option of options" [value]="option.id">{{ option.name }}</option>
                              </select>
                        </div>
                        <h3 style="margin:20px 0 0">Bảng giá dịch vụ</h3>
                        <table class="table  table-striped  table-bordered" id="price-table" >
                            <thead class="table-info">
                              <tr>
                                <th>Mức giá</th>
                                <th>Cân nặng</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let serviceSellPrice of serviceSellPrices">
                                <td>{{ serviceSellPrice.unitPrice |number}}VNĐ</td>
                                <td>{{ serviceSellPrice.petMinimumWeight }} to {{ serviceSellPrice.petMaximumWeight }}</td>
                              </tr>
                            </tbody>
                          </table>
                          
                          
                    </div>
                </div>
                <div class="tab-pane fade" id="description" role="tabpanel"
                    aria-labelledby="description-tab">
                    <div class="product-description">
                        <div innerHTML="{{petservice.fullDescription}}"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </DIV>
  
</main>