<ng-template #modalSellBill let-modal class="modal-xl">

    <div class="modal-header modal-xl">
      <h4 class="modal-title" id="modal-basic-title">Hóa đơn đặt lịch</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body">
      <form > 
        <div class="form-group" *ngIf="typeModal == 'edit'">
          <label for="name" class="form-label">Trạng thái:</label>
          <select name="" id="" [(ngModel)]="option.status" [ngModelOptions]="{standalone: true}"
            class="form-control col-12">
            <option *ngFor="let i = index; let status of statusMeaning" value="{{i}}">{{status}}</option>
          </select>
        </div> 
      </form>
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="createNew()" *ngIf="typeModal == 'create'">Làm mới</button>
      <button type="button" class="btn btn-outline-dark" (click)="create()" *ngIf="typeModal == 'create'">Thêm</button>
      <button type="button" class="btn btn-outline-dark" (click)="update()" *ngIf="typeModal == 'edit'">Sửa</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Đóng</button>
    </div>
  
  </ng-template>